body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-image: url("/src/assets/BG_2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;

  --secondary-color: #134074;
  --primary-color: #003b71;
}

html,
#root {
  height: 100%;
}

.p-button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color) !important;
  border: 1px solid #ffffff !important;
}

.p-button:hover {
  background-color: #00509d !important;
  border-color: #00509d !important;
  border: 1px solid #ffffff !important;
}
